<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Identisafe is a tool to help users discover their
  presence on phishing websites. It allows users 
  to enter their email address and 
  check if their email appears in any 
  known phishing domains. We let the user know of any 
  and all websites their email appears on. 

  Identisafe was created by Nick Anderson, Bill Borden, Colton Bowling, and Andrew Park.
  It was made for their Cloud Security class at the University of Alabama at Birmingham.
</p>