<% provide(:title, "Help") %>
<body>
<h1>Frequently Asked Questions</h1>
<ul>
  <li><strong>Q:</strong>I don't know what this website is. Help
  <li><strong>A:</strong>You don't need to know yet...
</body>