<div class="center jumbotron">
    <h1>Identisafe</h1>

    <h2>
        The website that knows who knows who you are.
    </h2>

    <%= link_to "Sign up now for a free scan!", signup_path, class: "btn btn-lg btn-primary" %>
</div>