<footer class="footer">
  <small>
    Created by Nick Anderson, Bill Borden, Colton Bowling, and Andrew Park. 
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>